<h1>QuestionsController#answer</h1>

<div class="your quesiton">
  <p><%= params[:query] %></p>
  <p>-- you</p>
</div>

<div class="coach's answer">
  <p><%= @answer %></p>
  <p>-- your coach</p>
</div>

